<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="side-bar-menu"></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">
        Open // Should paired with method
      </ion-button> -->
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>
      <ion-label>All Places</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bookable">
      <ion-label>Bookable Places</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Handles when no data to display -->
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!relevantPlaces || relevantPlaces.length <= 0)">
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && relevantPlaces.length > 0">
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ relevantPlaces[0].price | currency:"PHP":"symbol-narrow" }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <ion-text>
              <p>{{ relevantPlaces[0].description }}</p>
            </ion-text>
          </ion-card-content>
          <div class="ion-text-center" >
            <ion-button 
              color="primary" 
              fill="clear" 
              routerDirection="forward"
              [routerLink]="[relevantPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2">
        <!-- <ion-list>
          <ion-item *ngFor="let place of loadedPlaces.slice(1)" [routerLink]="[place.id]"  detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>
                {{place.title}}
              </h2>
              <p>
                {{place.description}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list> -->

        <!-- Good for long list, or dynamic list size -->
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="300px"> <!-- Fix Appox Height | Buggy -->
          <ion-item [routerLink]="[place.id]"  *virtualItem="let place" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img> <!-- Lazy loading | paired with virtual scroll -->
            </ion-thumbnail>
            <ion-label>
              <h2>
                {{place.title}}
              </h2>
              <p>
                {{place.description}}
              </p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

