<ion-header>
  <ion-toolbar>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="side-bar-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div *ngIf="!isLoading && offers.length <= 0"  class="ion-text-center">
          <p>
            No offers found! please create one first!
          </p>
          <ion-button color="primary" routerLink="/places/tabs/offers/new">
            Offer New Place!
          </ion-button>
        </div>
        <ion-list *ngIf="!isLoading && offers.length > 0">
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
            <!-- <ion-item [routerLink]="[offer.id]"  detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="offer.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  {{offer.title}}
                </h2>
              </ion-label>
            </ion-item> -->
            <app-offer-item [offer]="offer"></app-offer-item>

            
            <ion-item-options side="end">
              <!-- <ion-item-option color="secondary" [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', offer.id]">  Buggy implementation-->
              <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option>Favorite</ion-item-option>
              <ion-item-option color="danger" >Share</ion-item-option>
            </ion-item-options>
        
            <ion-item>
              <ion-label>Item Options</ion-label>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option >Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>
