<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLoginMode? 'Login': 'Signup' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Tempalte driven approach  -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input 
                type="email" 
                ngModel
                name="inputEmail"
                required
                email
                #emailControl="ngModel">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!emailControl.valid && emailControl.touched" lines="none">
              <ion-label>Should be a valid email address.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input 
                type="password"
                ngModel
                name="inputPassword"
                required
                minlength="6"
                #passwordControl="ngModel">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordControl.valid && passwordControl.touched" lines="none">
              <ion-label>Should be atleast 6 characters long.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">
            Switch to {{ isLoginMode? 'Signup': 'Login' }}
          </ion-button>
          <ion-button 
            type="submit" 
            color="primary" 
            
            expand="block"
            [disabled]="!loginForm.valid">
            {{ isLoginMode? 'Login': 'Signup' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
 
  <!-- Not Good sense it won't block screen for loading -->
  <!-- <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  </div>
  <ion-button *ngIf="!isLoading" color="primary" (click)="onLogin()">
    Login
  </ion-button> -->

  
</ion-content>
