<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col  size="12" size-sm="8" offset-sm="2" size-md="6" offset-md="3">
        <div class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && (!loadedBookings || loadedBookings.length <= 0)">
      <ion-col size="12" size-sm="8" offset-sm="2" size-md="6" offset-md="3">
        <p class="ion-text-center">No bookings found!</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && loadedBookings && loadedBookings.length > 0">
      <ion-col size="12" size-sm="8" offset-sm="2" size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="booking.placeImage" />
              </ion-avatar>
              <ion-label>
                <h5>
                  {{ booking.placeTitle }}
                </h5>
                <p>
                  Guest: {{ booking.guestNumber }}
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onCancelBooking(booking.id, slidingBooking)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
