<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" class="ion-padding">
  <!-- <p>{{ selectedPlace.description }}</p> -->
  <form (ngSubmit)="onBookPlace()" #bookingForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="firstName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="lastName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Number of Guests</ion-label>
              <!-- Default value for select = Option 2 -->
              <ion-select [ngModel]="'2'" name="guestCount" multiple="false" placeholder="Select Pizza">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime 
              display-format="MMMM DD, YYYY" 
              picker-format="MMMM DD, YYYY"
              [min]="selectedPlace.availableFrom.toISOString()"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="startDate"
              name="dateFrom"
              required
              #startDateControl="ngModel">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Until</ion-label>
            <ion-datetime 
              display-format="MMMM DD, YYYY" 
              picker-format="MMMM DD, YYYY"
              [min]="startDateControl.value"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="endDate"
              name="dateTo"
              required
              #endDateControl>
              <!-- [disabled]="!startDateControl.valid" -->
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!bookingForm.valid || !datesValid()">
            Book!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
 
</ion-content>