<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Detail - {{isLoading ? 'Loading...' : place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size=12 size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ place.title }}</ion-card-title>
            <ion-card-subtitle>{{ place.price | currency:"PHP":"symbol" }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="place.imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ place.description }}</p>
          </ion-card-content>
          <!-- <div class="ion-text-center" >
            <ion-button color="primary" class="ion-margin" (click)="onBookPlace()" [disabled]="!isBookable">
              Book Now
            </ion-button>
          </div> -->
          <div class="ion-text-center">
            <p>{{ place.location.address }}</p>
          </div>
          <div class="ion-text-center ion-padding">
            <ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="place.location.staticMapImageUrl"></ion-img>
          </div>
          <div class="ion-text-center" *ngIf="isBookable">
            <ion-button color="primary" class="ion-margin" (click)="onBookPlace()">
              Book Now
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
